body {
    margin: 10px;
    font-family: sans-serif;
}

.menu {
    border: 5px solid #E0795F;
    padding: 0px;
    background-color: #BD966D;
    display: flex;
}

.menu>* {
    padding: 10px;
    text-align: center;
    color: #fff;
    list-style-type: none;
}

.search {
    order: 4;
    flex-grow: 1;
}

.search-input {
    border: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 1em;
    width: 100%;
}

::placeholder {
    color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.normal,
.big {
    padding: 2px;
}

.normal {
    flex: 1 1 150px;
}

.big {
    flex: 1 1 250px;
}

footer {
    border: 5px solid #ffcc5c;
    margin-top: 10px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
}

footer a {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}

footer a:nth-child(1),
footer a:nth-child(3) {
    background-color: #96ceb4;
}

footer a:nth-child(2),
footer a:nth-child(4) {
    background-color: #ff6f69;
}

footer a:nth-child(4) {
    margin-left: auto;
}